<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- responsive display -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- title in browser tab -->
  <title>US Population Data</title>

<!-- start import styles -->
  <!-- import bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- import css -->
  <link rel="stylesheet" href="style.css">
<!-- end import styles -->

<!-- start import libraries -->
  <!-- import chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- import plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- import d3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
<!-- end import libraries -->

  <!-- start nav bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/Project-2-US-Pop/index.html">US Population Data</a>
      </div>
    </div>
  </nav>
  <!-- end nav bar -->



</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>United States Population Data</h2>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    
    <div class="row">
    
      <div class="col-md-2">
          <!-- start selector section -->
        <div class="well">
          <h5>Select Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <!-- end selector section -->

        <!-- start demographic info section -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Demographic Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
        <!-- end demographic info section -->
      </div>
    <!-- start bar chart placeholder -->
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
    <!-- start guage chart placeholder -->
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
      <!-- end  guage chart placeholder -->
    </div>
    <!-- start bubble chart placeholder-->
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
    <!-- end bubble chart -->
  </div>

  <!-- import javascript code -->
  <script src="./static/js/app.js"></script>

</body>

</html>
